/* Estilo general para la tabla */
.table-container {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado de la tabla */
thead {
    background: #333;
    color: #fff;
}

/* Celda del encabezado */
th {
    padding: 20px;
    text-align: left;
}

/* Cuerpo de la tabla */
tbody {
    text-align: center;
}

/* Fila de la tabla */
tr {
    background-color: #f9f9f9;
}

/* Enlace estilizado */
a {
    color: rgb(0, 99, 228);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: background-color 0.3s ease;

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid rgb(0, 99, 228);
        border-radius: 1em;
        bottom: 3px;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 10px;
        transform-origin: left;
    }

    &:after {
        width: 80%;
        left: 10px;
        transform: translateX(110%);
    }

    &:hover {
        background-color: #f0f0f0;
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }
}

/* Botón de búsqueda */
.buscar-btn {
    background-image: url("../images/buscar.png");
    /* Ajusta otros estilos según sea necesario */
}

/* Estilo común para inputs y botones */
input, button {
    width: 100%;
    height: 2.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0 0.5em;
    font-size: 1.2rem;
    margin-bottom: 1em;
    transition: all 0.2s ease-in-out;

    &:focus {
        border-color: #333;
    }
}

/* Estilo para el botón al hacer hover */
button:hover {
    background-color: #666;
    color: #fff;
}

/* Etiqueta de formulario */
label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}
